/* styles.css */

/* Loading spinner styles */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px; /* Set the desired height for the loading spinner container */
  }
  
  .loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Image container and flexible image styles */
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Set the desired margin bottom value */
  }
  
  .flexible-image {
    max-width:  35%;
    max-height: 35%;

    width: 100%;
  }
  
  .container {
    text-align: center;
  }


/* styles.css */

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Set the desired margin-top value */
  }
  
  .custom-button {
    padding: 10px 20px; /* Set the desired padding value */
    background-color: #3498db; /* Set the desired background color */
    color: white; /* Set the desired text color */
    border: none;
    border-radius: 4px;
    font-size: 16px; /* Set the desired font size */
    cursor: pointer;
    transition: background-color 0.9s ease;
  }
  
  .custom-button:hover {
    background-color: #29b935; /* Set the desired background color on hover */
  }
  
  /* styles.css */

body {
    font-family: 'Arial', sans-serif; /* Set the desired font family */
  }
  
  h1, h2, h3, p, button {
    font-family: 'Arial', sans-serif; /* Set the desired font family */
  }
  

  /* styles.css */

.gradient-text {
    background: repeating-linear-gradient(to right, #553c9a, #ee4b2b 10%, #553c9a 20%);
    /* Adjust the gradient colors and stops as desired */
    /* Make sure to set appropriate background-clip property */
    /* You can also use repeating-radial-gradient or repeating-conic-gradient */
    /* Make sure to set appropriate background-size and background-clip properties */
    -webkit-background-clip: text; /* Apply the gradient to the text */
    -webkit-text-fill-color: transparent; /* Set the text color as transparent */
  }
  
  /* Add more selectors as needed to cover all elements */
  